<!--下面的todo是決定我們post路由要去哪裡接-->
    <form action="/todos" method="POST" style="display:inline;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="add name here" name="name">
            <button class="btn btn-success" type="submit">Create!</button>
        </div>
    </form>